<!DOCTYPE html>
<html>
  <head>
    <title>ApiriaAssignment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upload an excel file</h1>
    <form id        =  "uploadForm"
          enctype   =  "multipart/form-data"
          action    =  "upload"
          method    =  "post"
    >
        <input type="file" name="file" />Upload
        <input type="submit" value="Upload" name="submit">
    </form>

  </body>
</html>
